<div block="mortgage">
    <div elem="section" class="site-width">
        <div elem="title">
            Возможна покупка в <span>ИПОТЕКУ</span> от продавца от <span>9 до 14% </span> <br>
в зависимости от первого взноса
        </div><!-- e:title -->
        <div elem="call-as">
            <div elem="call-title">ЗВОНИТЕ НАМ</div>
            <div elem="phones">
                <a elem="phone" href="tel:+79169505755"><icon name="phone-mortgage-icon " tag="i">+7 (916) 950 5755</a>
                <a elem="phone" href="tel:+79253701730"><icon name="phone-mortgage-icon " tag="i">+7 (925) 370 1730</a>
            </div><!-- e:phones -->
        </div><!-- e:call-as -->
        <div elem="express-contacts">
            <div elem="express-contacts-title">или оставьте свои контакты для связи</div>
            <a elem="btn" class="site-btn" data-remodal-target="modal" href="#">Оставить контакты</a><!-- e:btn -->
        </div><!-- e:express-contacts -->
    </div><!-- e:section -->
</div><!-- b:mortgage -->