.mortgage
    background linear-gradient(to bottom, rgba(0,0,0,0.549) 0%, rgba(0,0,0,0.54) 17%, rgba(0, 0, 0, 0.44) 49%, rgba(0,0,0,0.56) 100%), url('../img/mortgage-bg_2.jpg') 0 50% no-repeat
    background-size cover
    padding-top 60px
    padding-bottom 112px

    @media (max-width 767px)
        padding 40px 0


    &__section
        text-align center 

    &__title
        font-size 40px   
        color #fff
        font-weight 900
        line-height 1.3
        margin-bottom 90px

        span 
            color #f6ff00

        @media (max-width 767px)
            font-size 26px    
            margin-bottom 40px

        @media (max-width 320px)
            font-size 22px    

    &__call-title
        font-size 30px
        color #f6ff00
        font-family : $fonts.addition     
        font-weight 600
        text-transform uppercase
        letter-spacing 6px   
        line-height 1
        margin-bottom 20px

        @media (max-width 767px)
            font-size 20px

    &__phones
        display flex
        justify-content center   
        margin-bottom 30px
        position relative
        padding-bottom 30px
        &:after
            content ''
            position absolute
            bottom 0
            left 50%
            margin-left -55px
            width 95px
            height 5px
            border-radius 2px
            background-color #f6ff00 

        @media (max-width 520px)
            align-items center
            flex-direction column    
            
    &__phone
        font-size 30px
        color #f6ff00
        font-family : $fonts.addition     
        font-weight 600
        text-decoration none
        display flex
        align-items center
        margin-right 35px   

        .svg-icon--phone-mortgage-icon
            margin-right 20px

        @media (max-width 767px)
            font-size 20px    

        @media (max-width 520px)
            margin-right 0    

    &__express-contacts-title
        font-size 30px
        color #fff
        font-family : $fonts.addition
        font-weight 400
        line-height 1.3
        margin-bottom 30px

        @media (max-width 767px)
            font-size 20px

    &__btn
        display inline-block    