<div block="service-lines" id="service-lines_block">
    <div elem="section" class="site-width">
        <div elem="title">Коммуникации:</div>
        <div elem="sub-title">Электроснабжение: 150 кВт для осуществления строительного процесса</div>
        <div elem="text">
            После включения участка в Новорижский Технопарк, <br>
            будут подключены все коммуникации за счет Правительства Московской области. <br>
            Все необходимые мощности для подключения электроэнергии, газа, воды и канализации присутствуют.
        </div><!-- e:text -->
        <div elem="items">
            <div elem="item">
                <div elem="top">
                    <div elem="icon"><img src="img/service-lines-icon.png" alt=""></div><!-- e:icon -->
                    <div elem="increment" mods="inc-num-1"></div>
                </div><!-- e:top -->
                <div elem="bot">
                    <div elem="name">Газ</div><!-- e:name -->
                </div><!-- e:bot -->
            </div><!-- e:item -->
            <div elem="item">
                <div elem="top">
                    <div elem="icon"><img src="img/service-lines-icon2.png" alt=""></div><!-- e:icon -->
                    <div elem="increment" mods="inc-num-2"></div>
                </div><!-- e:top -->
                <div elem="bot">
                    <div elem="name">Электроэенергия</div><!-- e:name -->
                </div><!-- e:bot -->
            </div><!-- e:item -->
            <div elem="item">
                <div elem="top">
                    <div elem="icon"><img src="img/service-lines-icon3.png" alt=""></div><!-- e:icon -->
                    <div elem="increment" mods="inc-num-3"></div>
                </div><!-- e:top -->
                <div elem="bot">
                    <div elem="name">Вода</div><!-- e:name -->
                </div><!-- e:bot -->
            </div><!-- e:item -->
            <div elem="item">
                <div elem="top">
                    <div elem="icon"><img src="img/service-lines-icon4.png" alt=""></div><!-- e:icon -->
                    <div elem="increment" mods="inc-num-4"></div>
                </div><!-- e:top -->
                <div elem="bot">
                    <div elem="name">Канализация</div><!-- e:name -->
                </div><!-- e:bot -->
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:service-lines -->