.service-lines
    background url('../img/service-lines-bg.jpg') 50% 0 repeat-y
    background-size 100%

    &__section
        padding-top 95px
        padding-bottom 95px
        
        @media (max-width 767px)
            padding 20px 0

    &__title
        font-size 40px
        color #000
        font-weight 900
        text-align center
        line-height 1
        margin-bottom 20px

        @media (max-width 767px)
            font-size 30px

    &__sub-title
        font-size 30px
        color #4d4b4b
        font-family : $fonts.addition
        text-align center
        line-height 1.3
        padding-bottom 20px
        margin-bottom 25px
        position relative
        &:after
            content ''
            position absolute
            bottom 0
            left 50%
            margin-left -90px
            width 184px
            height 5px
            border-radius 2px
            background-color #f6ff00

        @media (max-width 767px)
            font-size 26px    

    &__text
        font-size 25px
        color #000
        font-family : $fonts.addition
        text-align center
        line-height 1.3    
        margin-bottom 125px   

        @media (max-width 767px)
            font-size 16px
            margin-bottom 70px

    &__items
        display flex
        justify-content space-between
        align-items center
        counter-reset inc-item

        @media (max-width 1600px)
            justify-content space-around

        @media (max-width 1023px)
            flex-wrap wrap    

    &__item
        display flex
        flex-direction column    

        @media (max-width 1023px)
            width 45%
            margin-bottom 50px
            text-align center

    &__top
        margin-bottom 15px
        height 80px
        display flex
        align-items flex-end
        position relative

        @media (max-width 1023px)
            align-self center

    &__icon
        position relative
        z-index 2     

    &__increment
        font-size 141px
        font-family : $fonts.addition
        color #dce5e5
        line-height 1
        font-weight 600
        position absolute
        top -44px
        z-index 1
        &:before
            content '0' counter(inc-item)
            counter-increment inc-item

        &--inc-num-1
            left 5px
        &--inc-num-2
            left 15px
        &--inc-num-3
            left 5px
        &--inc-num-4
            left 0px

        @media (max-width 1023px)
            left -15px !important    

        @media (max-width 480px)
            font-size 100px
    
    &__name
        font-size 20px
        font-family : $fonts.optionally
        font-weight 600
        line-height 1
        padding-top 15px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 95px
            height 5px
            border-radius 2px
            background-color #f6ff00   

            @media (max-width 1023px)
                left 50%
                margin-left -47px    

        @media (max-width 375px)
            font-size 16px        