<div block="mob-panel">
    <div elem="section">
        <div elem="logo">{% include "logo.html" %}</div><!-- e:logo -->
        <div elem="phones">
            <icon name="phone" tag="i">
            <a elem="phone" href="tel:+79169505755">+7 (916) 950-57-55</a>
        </div><!-- e:phone -->
        <a href="#" class="menu-btn">
            <span></span>
        </a>
        <div elem="menu">
            {% include "main-nav.html" %}

            <a elem="req-call" class="site-btn" href="" data-remodal-target="modal">Заказать звонок</a>
        </div><!-- e:menu -->
    </div><!-- e:section -->
</div><!-- b:mob-panel -->