.mob-panel
    width 100%
    display none
    position fixed
    top 0
    left 0
    z-index 100
    padding 10px 15px
    border-bottom 1px solid rgba(255, 255, 255, 0.5)
    background-color rgba(0, 0, 0, 0.8)
    box-shadow 0px 5px 20px 0px rgba(0,0,0,0.3)

    @media (max-width 960px)
        display block

    &__section
        display flex
        align-items center   
        justify-content space-between

    .logo
        margin-bottom 0
        width 150px     
        display block

    &__phones
        display flex
        align-items end

        .svg-icon--phone
            width 15px
            height 17px
            margin-right 10px   

            @media (max-width 479px)
                width 24px
                height 24px    

    &__phone
        font-size 20px
        font-family : $fonts.addition
        color #fff
        font-weight 400
        line-height 1
        text-decoration none 

        @media (max-width 479px)
            width 100%
            background-color #000
            position absolute
            text-align center
            top 71px
            left 0
            opacity 0
            visibility hidden
            padding 25px 20px
            transition opacity .3s

            &.open-phone
                opacity 1
                visibility visible

    &__menu
        width 320px
        height 100vh
        background-color #000
        position absolute
        top 71px
        right -320px
        padding 35px 20px
        padding-bottom 100px
        overflow-y auto
        transition right .3s

        &.open-menu
            right 0

        .main-nav
            display block
            margin-bottom 0

            &__nav

                ul
                    flex-direction column

                    li 
                        margin-right 0
                        margin-bottom 15px

        @media (max-width 480px)
            width 100%   
            right -480px           

    .menu-btn
        display block
        width 50px
        height 50px
        background-color #fff
        border-radius 50%
        position relative
        border 1px solid #000
        box-shadow 0px 0px 20px 0px rgba(0, 0, 0, 0.3)
        cursor pointer

    span
        &::before
            transform translateY(-5px)
        &::after
            transform translateY(5px)

    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after
        position absolute
        top 50%
        left 50%
        margin-left -10px
        margin-top -1px
        width 20px
        height 2px
        background-color #000

    .menu-btn span::before,
    .menu-btn span::after
        content ''
        display block
        transition 0.2s

    .menu-btn_active
        span
            height 0
            &:before
                transform rotate(45deg)
            &:after
                transform rotate(-45deg)