.sale-info
    background-color #191919
    
    &__item
        display flex
        overflow hidden

        @media (max-width 767px)
            overflow visible
            flex-direction column

    &__body
        color #fff
        background #191919 url('../img/lines-bg.png') 0 50% repeat
        padding 95px 80px 60px 160px
        width 800px
        max-width 100%
        display flex
        flex-direction column
        justify-content center

        @media (max-width 1440px)
            background-position -70px 50%
            padding-left 90px

        @media (max-width 1270px)
            padding: 40px 20px 20px 90px;

        @media (max-width 640px)
            padding-left 25px    

    &__img
        img
            @media (max-width 767px)
                max-width 100%

    &__title
        font-size 40px
        color #fff
        font-weight 900
        line-height 1.1
        margin-bottom 80px

        @media (max-width 1600px)
            font-size 26px

    &__text
        font-size 25px
        color #fff
        font-weight 600
        line-height 1.5
        margin-bottom 40px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left -25px
            width 5px
            height 100%
            border-radius 2px
            background-color #f6ff00

        @media (max-width 1600px)
            font-size 18px    

    &__name
        font-size 20px
        font-family : $fonts.optionally
        font-weight 600
        margin-bottom 15px

    &__option-list
        padding-left 25px

        li
            font-size 18px
            font-family : $fonts.optionally
            font-weight 400
            color #f6ff00
            line-height 1
            margin-bottom 15px

            span
                color #fff