<div block="sale-info" {# class="full-page" #}>
    <div elem="section" class="full-page">
        <div elem="items">
            <div elem="item">
                <div elem="body">
                    <div elem="title">Продается промышленный участок</div>
                    <div elem="text">
                        Строительство многофункциональных
                        производственных зданий, складов идругих 
                        объектов коммерческого назначения. 
                    </div><!-- e:text -->
                    <div elem="options">
                        <div elem="name">Близость к транспортным узлам</div>
                        <ul elem="option-list">
                            <li><span>МКАД - 77 км</span></li>
                            <li><span>Скоростная трасса М9 «Новорижское шоссе» – 10 метров</span></li>
                            <li><span>20 минут от города Волоколамска</span></li>
                            <li><span>Большое Мосовское кольцо (А108) – 16 км</span></li>
                        </ul>
                        
                    </div><!-- e:options -->
                </div><!-- e:body -->
                <div elem="img"><img src="img/sale-info-img.jpg" alt=""></div><!-- e:img -->
            </div><!-- e:item -->

            <div elem="item">
                <div elem="img"><img src="img/sale-info-img2.jpg" alt=""></div><!-- e:img -->
                <div elem="body">
                    <div elem="text">Mногофункциональный автокомплекс</div><!-- e:text -->
                    <div elem="options">
                        <div elem="name">Окружение</div>
                        <ul elem="option-list">
                            <li><span>20 км до г. Зеленоград</span></li>
                            <li><span>55 км до г. Клин</span></li>
                            <li><span>В радиусе 25 км от парка проживает около 1,0 млн человек</span></li>
                            <li><span>В радиусе 50 км - более 10 млн человек</span></li>
                            <li><span>АЗС «Газпромнефть» на границе участка</span></li>
                        </ul>
                    </div><!-- e:options -->
                </div><!-- e:body -->
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:sale-info -->