.app-header
    flex none
    position relative
    height 964px
    overflow hidden
    box-shadow 0px 19px 24.84px 2.16px rgba(0,0,0,0.17)
    background url('../img/screen-video-pic.jpg') 0 50% no-repeat    
    background-size cover

    @media (max-width 1600px)
        height auto

    @media (max-width 1360px)
        overflow visible
        padding-bottom 50px
    
    .inline-YTPlayer
        pointer-events none
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 150%
            background rgba(0, 0, 0, 0.5)
            z-index 3

        &:after
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            // background url('../img/screen-video-pic.jpg') 0 50% no-repeat    
            background-size cover
            z-index 1

        @media (max-width 1360px)
            display none    

    &__video-bg
        z-index 2        

        @media (max-width 1360px)    
            display none

        @media (max-width 1270px)
            overflow visible !important
            
    &__section
        padding-top 38px
        position absolute
        top 0
        left 0
        z-index 5

        @media (min-width 1900px)
            // left 160px

            left 50%
            margin-left -800px

        @media (max-width 1360px)
            position static    
        
        @media (max-width 960px)
            padding-top 50px