<div block="main-nav">
    <nav elem="nav">
        <ul>
            <li><a href="#advantages_block">Преимущества</a></li>
            <li><a href="#service-lines_block">Коммуникации</a></li>
            <li><a href="#parcel_block">Характеристики</a></li>
            <li><a href="#gallery_block">Галерея</a></li>
            <li><a href="#placement_block">Контакты</a></li>
        </ul>
    </nav><!-- e:nav -->
</div><!-- b:main-nav -->