.main-nav

    @media (max-width 1270px)
        margin-bottom 25px

    @media (max-width 960px)    
        display none

    &__nav

        ul
            display flex
            align-items center

            @media (max-width 767px)
                flex-direction column

            li 
                margin-right 26px

                @media (max-width 767px)
                    margin-right 0

                a
                    font-size 20px
                    font-family : $fonts.addition
                    color #fff
                    font-weight 400
                    text-decoration none
                    display block
                    padding-bottom 8px
                    position relative
                    &:after
                        content ''
                        position absolute
                        bottom 0
                        left 0
                        width 83px
                        height 2px
                        background-color #e0e554
                        transition opacity .3s
                        z-index -1
                        opacity 0

                    &:hover
                    &.active-block    
                        &:after     
                            z-index 1
                            opacity 1

                &:nth-child(4),
                &:nth-child(5)
                    a
                        &:after
                            width 41px