.advantages
    background url('../img/advantages-bg.jpg') 50% 0 no-repeat
    background-size 100% 100%

    @media (max-width 1360px)
        background-size cover
    
    &__section
        padding-top 95px

        @media (max-width 640px)
            padding-top 20px

    &__title
        font-size 40px
        color #000
        font-weight 900
        text-align center
        margin-bottom 122px

        @media (max-width 640px)
            margin-bottom 40px
            font-size 30px

    &__items
        display flex
        flex-wrap wrap
        margin-left -74px
        counter-reset inc-item

        @media (max-width 1600px)
            margin-left 0

        @media (max-width 640px)
            flex-direction column

    &__item
        width 480px
        max-width 100%
        display flex
        flex-direction column
        padding-left 50px
        margin-bottom 106px
        margin-left 74px
        position relative
        
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 6px
            height 100%
            background-color #eaf3f3
            border-radius 2px

            @media (max-width 959px)
                display none

        &:nth-child(1),
        &:nth-child(4)
            padding-left 0
            &:before
                display none

        @media (max-width 1600px)
            width 25%        
            margin-left 50px

        @media (max-width 959px)
            width 40%

        @media (max-width 767px)
            margin-left 25px    

        @media (max-width 640px)
            width 100%
            margin-bottom 50px
            padding-left 0
            margin-left 0
            align-items center
            text-align center

    &__top
        margin-bottom 35px
        position relative

    &__icon
        position relative
        z-index 2    

    &__increment
        font-size 141px
        font-family : $fonts.addition
        color #dce5e5
        line-height 1
        font-weight 600
        position absolute
        top -44px
        z-index 1
        &:before
            content '0' counter(inc-item)
            counter-increment inc-item

        &--inc-num-1
            left 60px
        &--inc-num-2
            left 15px
        &--inc-num-3
            left 35px
        &--inc-num-4
            left 57px
        &--inc-num-5
            left 20px
        &--inc-num-6
            left 40px

        @media (max-width 640px)
            font-size 100px    
            

    &__name
        font-size 20px
        color #000
        font-family : $fonts.optionally
        font-weight 600
        line-height 1.3
        flex 1 1 auto
        margin-bottom 25px

        @media (max-width 375px)
            font-size 16px      

    &__desc
        font-size 18px
        color #000
        font-family : $fonts.optionally
        font-weight 400
        line-height 1.3