<div block="advantages" id="advantages_block">
    <div elem="section" class="site-width">
        <div elem="title">Преимущества участка</div>
        <div elem="items">
            {% for item in advantagesItem %}
            <div elem="item">
                <div elem="top">
                    <div elem="icon"><img src="img/{{item.icon}}" alt=""></div>
                    <div elem="increment" mods="{{item.incNumber}}"></div>
                </div><!-- e:top -->
                <div elem="bot">
                    <div elem="name">{{item.name}}</div>
                    <div elem="desc">{{item.desc}}</div>
                </div><!-- e:bot -->
            </div><!-- e:item -->
            {% endfor %}
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:advantages -->

