<div block="top-line" mods="footer">
    <div elem="section">
        {% include "logo.html" %}

        {% include "main-nav.html" %}

        {% include "contacts.html" %}

    </div><!-- e:section -->
</div><!-- b:top-line -->