.top-line 
    margin-bottom 180px

    @media (max-width 1440px)
        margin-bottom 90px

    @media (max-width 1270px)
        margin-bottom 45px    
    
    &__section
        display flex
        align-items center
        justify-content space-between

        @media (max-width 1270px)
            flex-direction column

    &--footer
        margin-bottom 0 !important

        .contacts
            margin-left 0
            
            @media (max-width 1600px)
                margin-right 20px
            
        .contacts__item--phone
            display none