.main-screen-info

    &__section
        color #fffefe
        display flex
        flex-direction column
        align-items center
        justify-content center

    &__title
        font-size 80px
        text-align center
        line-height 1
        margin-bottom 20px

        @media (max-width 1600px)
            font-size 70px

        @media (max-width 1270px)    
            font-size 50px

        @media (max-width 768px)
            font-size 40px

        @media (max-width 767px)
            font-size 30px    

    &__sub-title
        font-size 42px
        font-family : $fonts.addition
        font-weight 400
        line-height 1
        padding-bottom 29px
        margin-bottom 25px
        border-radius 2px
        position relative
        &:after
            content ''
            position absolute
            bottom 0
            left 50%
            margin-left -90px
            width 184px
            height 5px
            background-color #f6ff00
            
        span 
            color #f6ff00

        @media (max-width 1600px)
            font-size 36px
            text-align center

        @media (max-width 1270px)   
            font-size 28px    

        @media (max-width 767px)
            font-size 22px

    &__desc
        font-size 35px         
        font-family : $fonts.addition
        font-weight 400
        line-height 1
        margin-bottom 30px

        span 
            color #f6ff00

        @media (max-width 1600px)
            font-size 28px
            text-align center

        @media (max-width 1270px)   
            font-size 20px    

        @media (max-width 480px)
            line-height 1.3    

    &__btn
        margin-bottom 150px

        @media (max-width 1440px)   
            margin-bottom 75px