<div block="main-screen-info">
    <div elem="section">
        <div elem="title">Продается промышленный участок</div>
        <div elem="sub-title"><span>по 2000 рублей/м2</span> от собственника</div><!-- e:sub-title -->
        <div elem="desc">Пром участок <span>от 1 до 30 ГЕКТАРОВ</span> с коммуникациями вплотную к Новорижскому шоссе</div><!-- e:desc -->
        <a elem="btn" class="site-btn" data-remodal-target="modal" href="#">Оставить заявку</a>
        <icon name="scroll-icon" tag="i">
    </div><!-- e:section -->
</div><!-- b:main-screen-info -->