<div block="video-info">
    <div elem="title">Аэросъемка участка</div><!-- e:title -->
    <div elem="video">
        <iframe scrolling="no" width="1920" height="100%" src="https://www.youtube.com/embed/te3-9znD060?rel=0" frameborder="0"  allowfullscreen></iframe>
    </div><!-- e: -->
</div><!-- b:video-info -->