.video-info

    &__title
        font-size 50px
        color #000
        font-weight 400
        text-align center
        margin-bottom 90px

        @media (max-width 640px)
            font-size 30px
            line-height 1
            margin-bottom 20px

    &__video
        position relative
        padding-bottom 56.25%
        padding-top 30px

        iframe 
            overflow hidden

    &__video iframe, 
    &__video object, 
    &__video embed
        position absolute
        top 0
        left 0
        width 100%
        height 100%    