::-moz-selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

::selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

/* IE 10+ */
::-webkit-input-placeholder
    font-size 20px
    color : #fff
    font-family 'Rubik', sans-serif
    font-weight 400
    letter-spacing 1px
    @media (max-width 640px)
        font-size 16px
    
:-moz-placeholder
    font-size 20px
    color : #fff
    font-family 'Rubik', sans-serif
    font-weight 400
    @media (max-width 640px)
        font-size 16px
/* FF 4-18 */
::-moz-placeholder
    font-size 20px
    color : #fff
    font-family 'Rubik', sans-serif
    font-weight 400
    @media (max-width 640px)
        font-size 16px
/* FF 19+ */
:-ms-input-placeholder
    font-size 20px
    color : #fff
    font-family 'Rubik', sans-serif
    font-weight 400
    @media (max-width 640px)
        font-size 16px

if $placeholders.focus
    /* Input placeholder color
     ========================================================================== */
    /* IE 10+ */
    input:focus::-webkit-input-placeholder
        color : $placeholders.focus
    input:focus:-moz-placeholder
        color : $placeholders.focus
    /* FF 4-18 */
    input:focus::-moz-placeholder
        color : $placeholders.focus
    /* FF 19+ */
    input:focus:-ms-input-placeholder
        color : $placeholders.focus

*
    min-width 0
    min-height 0
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    box-sizing border-box
    outline none

html
    font-size : $html.fontSize
    font-family : $html.family
    font-weight : $html.weight
    color : $html.color
    background-color : $html.bgc

    font-feature-settings : kern, liga, onum
    -webkit-font-smoothing : antialiased
    -webkit-text-size-adjust : 100%
    -ms-text-size-adjust : 100%

body
    font-size : inherit
    font-family : inherit
    font-weight : inherit
    color : inherit
    background-color : inherit

blockquote
    font-style       : $blockquote.font.style
    padding          : 15px
    padding-left     : $blockquote.gutter
    border-left      : $blockquote.border.size solid $blockquote.border.color
    background-color : rgba($blockquote.border.color, .03)

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
    font-family    : $headings.family
    font-weight    : $headings.weight
    color          : $headings.color
    text-transform : $headings.transform
    
    &::-moz-selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

    &::selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

template, /* 1 */
[hidden]
    display none

// font weights
for $weight, $value in $fontWeight
    .font-{$weight}
        font-weight : $value

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
    clip auto
    height auto
    margin 0
    overflow visible
    position static
    width auto

svg:not(:root)
    overflow hidden

.full-page
    width 1920px
    max-width 100%
    margin 0 auto

.site-width
    width 1630px
    max-width 100%
    margin 0 auto
    padding-right 15px
    padding-left 15px

    @media (max-width 1900px)
        width 1570px

.site-btn
    font-size 23px
    color #000
    font-family : $fonts.optionally
    font-weight 600
    line-height 1
    text-align center
    text-decoration none
    min-width 389px
    border-radius 50px
    border none
    display block
    padding-top 28px
    padding-bottom 32px
    background-color #f6ff00
    cursor pointer
    transition background-color .3s
    &:hover
        background-color darken(#f6ff00, 5%)
    &:active
        background-color lighten(#f6ff00, 15%)

    @media (max-width 1270px)
        font-size 18px
        padding-top 18px
        padding-bottom 22px
        min-width 280px 
    