
@font-face {
  font-family: 'Panton';
  src: url("../fonts/PANTON.OTF"); /* IE9 Compat Modes */
  // src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  //   url("../fonts/FuturaPT-Book.ttf") format("truetype"); /* Safari, Android, iOS */
  //   url("../fonts/FuturaPT-Book.woff") format("woff"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Panton';
  src: url("../fonts/PANTON BOLD.OTF"); /* IE9 Compat Modes */
  // src: url("../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  //   url("../fonts/FuturaPT-Demi.ttf") format("truetype"); /* Safari, Android, iOS */
  //   url("../fonts/FuturaPT-Demi.woff") format("woff"); /* Modern Browsers */
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/PROXIMANOVA-REGULAR.TTF"); /* IE9 Compat Modes */
  // src: url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  //   url("../fonts/FuturaPT-Heavy.ttf") format("truetype"); /* Safari, Android, iOS */
  //   url("../fonts/FuturaPT-Heavy.woff") format("woff"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/PROXIMANOVA-BOLD.TTF"); /* IE9 Compat Modes */
  // src: url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  //   url("../fonts/FuturaPT-Heavy.ttf") format("truetype"); /* Safari, Android, iOS */
  //   url("../fonts/FuturaPT-Heavy.woff") format("woff"); /* Modern Browsers */
  font-weight: 600;
  font-style: normal;
}
