::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  font-size: 20px;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

:-moz-placeholder {
  font-size: 20px;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

::-moz-placeholder {
  font-size: 20px;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

:-ms-input-placeholder {
  font-size: 20px;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 17px;
  font-family: "Playfair Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
  background-color: #fff;
  -webkit-font-feature-settings: kern, liga, onum;
          font-feature-settings: kern, liga, onum;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

blockquote {
  font-style: normal;
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #3e50b4;
  background-color: rgba(62,80,180,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: ;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
  text-transform: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

template,
[hidden] {
  display: none;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.full-page {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}

.site-width {
  width: 1630px;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.site-btn {
  font-size: 23px;
  color: #000;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  min-width: 389px;
  border-radius: 50px;
  border: none;
  display: block;
  padding-top: 28px;
  padding-bottom: 32px;
  background-color: #f6ff00;
  cursor: pointer;
  transition: background-color 0.3s;
}

.site-btn:hover {
  background-color: #eaf200;
}

.site-btn:active {
  background-color: #f7ff26;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__spinner {
  fill: inherit;
  width: inherit;
  height: inherit;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/PANTON.OTF");
  /* IE9 Compat Modes */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url("../fonts/PANTON BOLD.OTF");
  /* IE9 Compat Modes */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/PROXIMANOVA-REGULAR.TTF");
  /* IE9 Compat Modes */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/PROXIMANOVA-BOLD.TTF");
  /* IE9 Compat Modes */
  font-weight: 600;
  font-style: normal;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 20px 0;
  background: #ccc;
  color: #000;
  padding: 20px 0;
}

.demo-box {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.theme-color {
  color: #3e50b4;
}

.theme-bgc {
  background-color: #3e50b4;
}

.app-footer {
  -ms-flex: none;
      flex: none;
  background-color: #000;
}

.app-footer__section {
  padding: 53px 0;
}

.app-footer__copyrigth {
  font-size: 14px;
  color: #fff;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 12px;
  padding-bottom: 15px;
  background-color: #242424;
}

.app-header {
  -ms-flex: none;
      flex: none;
  position: relative;
  height: 964px;
  overflow: hidden;
  box-shadow: 0px 19px 24.84px 2.16px rgba(0,0,0,0.17);
  background: url("../img/screen-video-pic.jpg") 0 50% no-repeat;
  background-size: cover;
  -webkit-overflow-scrolling: touch;
}

.app-header .inline-YTPlayer {
  pointer-events: none;
}

.app-header .inline-YTPlayer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background: rgba(0,0,0,0.5);
  z-index: 3;
}

.app-header .inline-YTPlayer:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 1;
}

.app-header__video-bg {
  z-index: 2;
}

.app-header__section {
  padding-top: 38px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.app__aside--left {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app__aside--right {
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.additional-info {
  background: linear-gradient(to bottom, rgba(0,0,0,0.549) 0%, rgba(0,0,0,0.54) 17%, rgba(0,0,0,0.44) 49%, rgba(0,0,0,0.56) 100%), url("../img/advansed-bg_2.jpg") 0 50% no-repeat;
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 96px;
}

.additional-info__section {
  text-align: center;
}

.additional-info__title {
  font-size: 40px;
  color: #fff;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 90px;
}

.additional-info__call-title {
  font-size: 30px;
  color: #fff;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: 20px;
}

.additional-info__phones {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 30px;
}

.additional-info__phones:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -55px;
  width: 95px;
  height: 5px;
  border-radius: 2px;
  background-color: #f6ff00;
}

.additional-info__phone {
  font-size: 30px;
  color: #f6ff00;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 35px;
}

.additional-info__phone .svg-icon--phone-mortgage-icon {
  margin-right: 20px;
}

.advantages {
  background: url("../img/advantages-bg.jpg") 50% 0 no-repeat;
  background-size: 100% 100%;
}

.advantages__section {
  padding-top: 95px;
}

.advantages__title {
  font-size: 40px;
  color: #000;
  font-weight: 900;
  text-align: center;
  margin-bottom: 122px;
}

.advantages__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -74px;
  counter-reset: inc-item;
}

.advantages__item {
  width: 480px;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 50px;
  margin-bottom: 106px;
  margin-left: 74px;
  position: relative;
}

.advantages__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #eaf3f3;
  border-radius: 2px;
}

.advantages__item:nth-child(1),
.advantages__item:nth-child(4) {
  padding-left: 0;
}

.advantages__item:nth-child(1):before,
.advantages__item:nth-child(4):before {
  display: none;
}

.advantages__top {
  margin-bottom: 35px;
  position: relative;
}

.advantages__icon {
  position: relative;
  z-index: 2;
}

.advantages__increment {
  font-size: 141px;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #dce5e5;
  line-height: 1;
  font-weight: 600;
  position: absolute;
  top: -44px;
  z-index: 1;
}

.advantages__increment:before {
  content: '0' counter(inc-item);
  counter-increment: inc-item;
}

.advantages__increment--inc-num-1 {
  left: 60px;
}

.advantages__increment--inc-num-2 {
  left: 15px;
}

.advantages__increment--inc-num-3 {
  left: 35px;
}

.advantages__increment--inc-num-4 {
  left: 57px;
}

.advantages__increment--inc-num-5 {
  left: 20px;
}

.advantages__increment--inc-num-6 {
  left: 40px;
}

.advantages__name {
  font-size: 20px;
  color: #000;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.3;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  margin-bottom: 25px;
}

.advantages__desc {
  font-size: 18px;
  color: #000;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

.contacts {
  margin-left: auto;
}

.contacts__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.contacts__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: end;
}

.contacts__item .svg-icon--phone {
  width: 15px;
  height: 17px;
  margin-right: 20px;
}

.contacts__item .svg-icon--req-call {
  width: 18px;
  height: 20px;
  fill: #f6ff00;
  margin-right: 20px;
  margin-top: -2px;
}

.contacts__phone {
  font-size: 20px;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  margin-right: 50px;
}

.contacts__req-call {
  font-size: 20px;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #f6ff00;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid #f6ff00;
  padding-bottom: 1px;
  position: relative;
}

.contacts__req-call:after {
  content: '';
  position: absolute;
  top: 6px;
  right: -15px;
  background: url("../img/arr-req-call.png") 0 0 no-repeat;
  width: 7px;
  height: 12px;
}

.fixed-panel {
  width: 100%;
  display: none;
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 100;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
  transition: top 0.3s;
}

.fixed-panel.fixed {
  top: 0;
}

.fixed-panel__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.form-popup__send-success {
  font-size: 24px;
  color: #575757;
  font-weight: 500;
  display: none;
}

.form-popup__send-success.success {
  display: block;
}

.form-popup__section.success {
  display: none;
}

.form-popup__title {
  font-size: 35px;
  color: #fff;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 15px;
}

.form-popup__desc {
  font-size: 20px;
  color: #fff;
  line-height: 1;
  font-weight: 400;
  padding-bottom: 20px;
  margin-bottom: 65px;
  position: relative;
}

.form-popup__desc:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  width: 96px;
  height: 2px;
  background-color: #f6ff00;
}

.form-popup__items {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}

.form-popup__item {
  width: 400px;
  max-width: 100%;
}

.form-popup__item input {
  font-size: 20px;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  text-align: center;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.form-popup__btn-send {
  margin: 90px auto 0;
}

.form-popup.remodal {
  max-width: 640px;
  padding: 90px 90px 110px 90px;
  background-color: #080808;
  border-radius: 8px;
}

.remodal-overlay {
  background: rgba(43,46,56,0.2);
}

.gallery {
  padding-top: 70px;
  background: url("../img/service-lines-bg.jpg") 50% 0 repeat-y;
  background-size: 100%;
}

.gallery__title {
  font-size: 50px;
  color: #000;
  font-weight: 400;
  text-align: center;
  margin-bottom: 70px;
}

.gallery__items {
  position: relative;
}

.gallery__items .owl-stage-outer {
  padding-top: 25px;
  padding-bottom: 30px;
}

.gallery__items .owl-stage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.gallery__items .owl-nav {
  display: -ms-flexbox;
  display: flex;
}

.gallery__items .owl-prev,
.gallery__items .owl-next {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: 5px solid #f7f5ab;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  background: #fce101 url("../img/btn-arrow.png") 50% 50% no-repeat;
}

.gallery__items .owl-prev {
  left: -70px;
}

.gallery__items .owl-next {
  right: -70px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.gallery__img {
  width: 525px;
  max-width: 100%;
  box-shadow: 3.346px 3.716px 40px 0px rgba(0,0,0,0.11);
}

.logo {
  margin-right: 90px;
  -ms-flex: 0 0 191px;
      flex: 0 0 191px;
}

.logo a img {
  max-width: 100%;
}

.main-nav__nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.main-nav__nav ul li {
  margin-right: 26px;
}

.main-nav__nav ul li a {
  font-size: 20px;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding-bottom: 8px;
  position: relative;
}

.main-nav__nav ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 83px;
  height: 2px;
  background-color: #e0e554;
  transition: opacity 0.3s;
  z-index: -1;
  opacity: 0;
}

.main-nav__nav ul li a:hover:after,
.main-nav__nav ul li a.active-block:after {
  z-index: 1;
  opacity: 1;
}

.main-nav__nav ul li:nth-child(4) a:after,
.main-nav__nav ul li:nth-child(5) a:after {
  width: 41px;
}

.main-screen-info__section {
  color: #fffefe;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.main-screen-info__title {
  font-size: 80px;
  text-align: center;
  line-height: 1;
  margin-bottom: 20px;
}

.main-screen-info__sub-title {
  font-size: 42px;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 29px;
  margin-bottom: 25px;
  border-radius: 2px;
  position: relative;
}

.main-screen-info__sub-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -90px;
  width: 184px;
  height: 5px;
  background-color: #f6ff00;
}

.main-screen-info__sub-title span {
  color: #f6ff00;
}

.main-screen-info__desc {
  font-size: 35px;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 30px;
}

.main-screen-info__desc span {
  color: #f6ff00;
}

.main-screen-info__btn {
  margin-bottom: 150px;
}

.mob-panel {
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
}

.mob-panel__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.mob-panel .logo {
  margin-bottom: 0;
  width: 150px;
  display: block;
}

.mob-panel__phones {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: end;
}

.mob-panel__phones .svg-icon--phone {
  width: 15px;
  height: 17px;
  margin-right: 10px;
}

.mob-panel__phone {
  font-size: 20px;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
}

.mob-panel__menu {
  width: 320px;
  height: 100vh;
  background-color: #000;
  position: absolute;
  top: 71px;
  right: -320px;
  padding: 35px 20px;
  padding-bottom: 100px;
  overflow-y: auto;
  transition: right 0.3s;
  -webkit-overflow-scrolling: touch;
}

.mob-panel__menu.open-menu {
  right: 0;
}

.mob-panel__menu .main-nav {
  display: block;
  margin-bottom: 0;
}

.mob-panel__menu .main-nav__nav ul {
  -ms-flex-direction: column;
      flex-direction: column;
}

.mob-panel__menu .main-nav__nav ul li {
  margin-right: 0;
  margin-bottom: 15px;
}

.mob-panel .menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  border: 1px solid #000;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}

.mob-panel span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.mob-panel span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.mob-panel .menu-btn span,
.mob-panel .menu-btn span::before,
.mob-panel .menu-btn span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
  width: 20px;
  height: 2px;
  background-color: #000;
}

.mob-panel .menu-btn span::before,
.mob-panel .menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}

.mob-panel .menu-btn_active span {
  height: 0;
}

.mob-panel .menu-btn_active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mob-panel .menu-btn_active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mortgage {
  background: linear-gradient(to bottom, rgba(0,0,0,0.549) 0%, rgba(0,0,0,0.54) 17%, rgba(0,0,0,0.44) 49%, rgba(0,0,0,0.56) 100%), url("../img/mortgage-bg_2.jpg") 0 50% no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 112px;
}

.mortgage__section {
  text-align: center;
}

.mortgage__title {
  font-size: 40px;
  color: #fff;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 90px;
}

.mortgage__title span {
  color: #f6ff00;
}

.mortgage__call-title {
  font-size: 30px;
  color: #f6ff00;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1;
  margin-bottom: 20px;
}

.mortgage__phones {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 30px;
}

.mortgage__phones:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -55px;
  width: 95px;
  height: 5px;
  border-radius: 2px;
  background-color: #f6ff00;
}

.mortgage__phone {
  font-size: 30px;
  color: #f6ff00;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 35px;
}

.mortgage__phone .svg-icon--phone-mortgage-icon {
  margin-right: 20px;
}

.mortgage__express-contacts-title {
  font-size: 30px;
  color: #fff;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 30px;
}

.mortgage__btn {
  display: inline-block;
}

.page-scroller {
  opacity: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  height: 100vh;
  background-color: rgba(62,80,180,0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  fill: #666;
  width: 24px;
  height: 24px;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(62,80,180,0.12);
}

.page-scroller:active {
  background-color: rgba(62,80,180,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

.parcel {
  background: url("../img/service-lines-bg.jpg") 50% 0 repeat-y;
  background-size: 100%;
  padding-top: 95px;
}

.parcel__title {
  font-size: 40px;
  color: #000;
  font-weight: 900;
  text-align: center;
  margin-bottom: 90px;
}

.parcel__title--limits-area {
  margin-bottom: 50px;
}

.parcel__table {
  font-size: 20px;
  color: #000;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 100px;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.parcel__table tbody {
  display: block;
  margin: -1px;
}

.parcel__table tr:nth-child(odd) {
  background-color: rgba(246,255,0,0.6);
}

.parcel__table td {
  padding: 15px 30px 15px 20px;
  border: 1px solid #000;
  width: 50%;
}

.parcel__table td.table-name {
  font-weight: 600;
}

.parcel__link-to-map {
  font-size: 16px !important;
  min-width: auto;
  width: 350px;
  max-width: 100%;
  padding: 15px 10px;
  margin: 0 auto 30px;
  line-height: 1.3;
}

.parcel__map-area {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.parcel__map-area-info-img {
  width: 410px;
  max-width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
}

.parcel__map-area-img {
  position: relative;
}

.placement {
  background: url("../img/service-lines-bg.jpg") 50% 0 repeat-y;
  background-size: 100%;
  padding-top: 85px;
  padding-bottom: 100px;
}

.placement__title {
  font-size: 50px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 102px;
}

.placement__body {
  display: -ms-flexbox;
  display: flex;
}

.placement__contacts {
  color: #fff;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #191919 url("../img/lines-bg.png") 0 50% repeat;
  padding: 45px 50px 50px 160px;
  width: 800px;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.placement__phones {
  margin-bottom: 80px;
  position: relative;
}

.placement__phones:before {
  content: '';
  position: absolute;
  top: 0;
  left: -25px;
  width: 5px;
  height: 100%;
  border-radius: 2px;
  background-color: #f6ff00;
}

.placement__title-contacs {
  font-size: 35px;
  font-weight: 400;
}

.placement__phone {
  font-size: 25px;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 10px;
}

.placement__phone .svg-icon--phone {
  margin-right: 22px;
  width: 16px;
  height: 18px;
}

.placement__email {
  margin-bottom: 35px;
  position: relative;
}

.placement__email:before {
  content: '';
  position: absolute;
  top: 0;
  left: -25px;
  width: 5px;
  height: 100%;
  border-radius: 2px;
  background-color: #f6ff00;
}

.placement__email a {
  font-size: 25px;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.placement__email a .svg-icon--mail {
  margin-right: 22px;
}

.placement__addres {
  font-size: 25px;
  line-height: 1.7;
  padding-left: 38px;
  margin-bottom: 35px;
  position: relative;
}

.placement__addres:before {
  content: '';
  position: absolute;
  top: 7px;
  left: -25px;
  width: 5px;
  height: 28px;
  border-radius: 2px;
  background-color: #f6ff00;
}

.placement__addres:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0px;
  width: 18px;
  height: 25px;
  background: url("../img/address.png") 0 0 no-repeat;
}

.placement__addres p {
  margin-bottom: 0;
}

.placement__btn {
  width: 285px;
}

.sale-info {
  background-color: #191919;
}

.sale-info__item {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.sale-info__body {
  color: #fff;
  background: #191919 url("../img/lines-bg.png") 0 50% repeat;
  padding: 95px 80px 60px 160px;
  width: 800px;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.sale-info__title {
  font-size: 40px;
  color: #fff;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 80px;
}

.sale-info__text {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 40px;
  position: relative;
}

.sale-info__text:before {
  content: '';
  position: absolute;
  top: 0;
  left: -25px;
  width: 5px;
  height: 100%;
  border-radius: 2px;
  background-color: #f6ff00;
}

.sale-info__name {
  font-size: 20px;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

.sale-info__option-list {
  padding-left: 25px;
}

.sale-info__option-list li {
  font-size: 18px;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: #f6ff00;
  line-height: 1;
  margin-bottom: 15px;
}

.sale-info__option-list li span {
  color: #fff;
}

.service-lines {
  background: url("../img/service-lines-bg.jpg") 50% 0 repeat-y;
  background-size: 100%;
}

.service-lines__section {
  padding-top: 95px;
  padding-bottom: 95px;
}

.service-lines__title {
  font-size: 40px;
  color: #000;
  font-weight: 900;
  text-align: center;
  line-height: 1;
  margin-bottom: 20px;
}

.service-lines__sub-title {
  font-size: 30px;
  color: #4d4b4b;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  line-height: 1.3;
  padding-bottom: 20px;
  margin-bottom: 25px;
  position: relative;
}

.service-lines__sub-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -90px;
  width: 184px;
  height: 5px;
  border-radius: 2px;
  background-color: #f6ff00;
}

.service-lines__text {
  font-size: 25px;
  color: #000;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 125px;
}

.service-lines__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  counter-reset: inc-item;
}

.service-lines__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.service-lines__top {
  margin-bottom: 15px;
  height: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  position: relative;
}

.service-lines__icon {
  position: relative;
  z-index: 2;
}

.service-lines__increment {
  font-size: 141px;
  font-family: "Panton", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #dce5e5;
  line-height: 1;
  font-weight: 600;
  position: absolute;
  top: -44px;
  z-index: 1;
}

.service-lines__increment:before {
  content: '0' counter(inc-item);
  counter-increment: inc-item;
}

.service-lines__increment--inc-num-1 {
  left: 5px;
}

.service-lines__increment--inc-num-2 {
  left: 15px;
}

.service-lines__increment--inc-num-3 {
  left: 5px;
}

.service-lines__increment--inc-num-4 {
  left: 0px;
}

.service-lines__name {
  font-size: 20px;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  line-height: 1;
  padding-top: 15px;
  position: relative;
}

.service-lines__name:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 5px;
  border-radius: 2px;
  background-color: #f6ff00;
}

.top-line {
  margin-bottom: 180px;
}

.top-line__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.top-line--footer {
  margin-bottom: 0 !important;
}

.top-line--footer .contacts {
  margin-left: 0;
}

.top-line--footer .contacts__item--phone {
  display: none;
}

.video-info__title {
  font-size: 50px;
  color: #000;
  font-weight: 400;
  text-align: center;
  margin-bottom: 90px;
}

.video-info__video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
}

.video-info__video iframe {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.video-info__video iframe,
.video-info__video object,
.video-info__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 961px) {
  .fixed-panel {
    display: block;
  }
}

@media (min-width: 1900px) {
  .app-header__section {
    left: 50%;
    margin-left: -800px;
  }
}

@media (min-width: 1901px) {
  .gallery__items .owl-stage-outer {
    padding-left: 6px;
  }
}

@media (max-width: 1900px) {
  .site-width {
    width: 1570px;
  }
}

@media (max-width: 1600px) {
  .app-header {
    height: auto;
  }

  .advantages__items {
    margin-left: 0;
  }

  .advantages__item {
    width: 25%;
    margin-left: 50px;
  }

  .gallery__items .owl-prev {
    left: 0;
  }

  .gallery__items .owl-next {
    right: 0;
  }

  .main-screen-info__title {
    font-size: 70px;
  }

  .main-screen-info__sub-title {
    font-size: 36px;
    text-align: center;
  }

  .main-screen-info__desc {
    font-size: 28px;
    text-align: center;
  }

  .sale-info__title {
    font-size: 26px;
  }

  .sale-info__text {
    font-size: 18px;
  }

  .service-lines__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .top-line--footer .contacts {
    margin-right: 20px;
  }
}

@media (max-width: 1440px) {
  .contacts__items {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .contacts__phone {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-screen-info__btn {
    margin-bottom: 75px;
  }

  .placement__contacts {
    background-position: -70px 50%;
    padding-left: 90px;
  }

  .sale-info__body {
    background-position: -70px 50%;
    padding-left: 90px;
  }

  .top-line {
    margin-bottom: 90px;
  }
}

@media (max-width: 1366px) {
  .gallery__items .owl-stage-outer {
    padding-left: 2px;
  }
}

@media (max-width: 1360px) {
  .app-header {
    overflow: visible;
    padding-bottom: 50px;
  }

  .app-header .inline-YTPlayer {
    display: none;
  }

  .app-header__video-bg {
    display: none;
  }

  .app-header__section {
    position: static;
  }

  .advantages {
    background-size: cover;
  }
}

@media (max-width: 1270px) {
  .site-btn {
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 22px;
    min-width: 280px;
  }

  .app-header__video-bg {
    overflow: visible !important;
  }

  .contacts {
    margin-left: 0;
  }

  .contacts__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: stretch;
        align-items: stretch;
  }

  .contacts__phone {
    margin-right: 50px;
  }

  .fixed-panel .main-nav {
    margin-bottom: 0;
  }

  .fixed-panel__section .contacts {
    display: none;
  }

  .logo {
    -ms-flex: none;
        flex: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-nav {
    margin-bottom: 25px;
  }

  .main-screen-info__title {
    font-size: 50px;
  }

  .main-screen-info__sub-title {
    font-size: 28px;
  }

  .main-screen-info__desc {
    font-size: 20px;
  }

  .sale-info__body {
    padding: 40px 20px 20px 90px;
  }

  .top-line {
    margin-bottom: 45px;
  }

  .top-line__section {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

@media (max-width: 1023px) {
  .service-lines__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .service-lines__item {
    width: 45%;
    margin-bottom: 50px;
    text-align: center;
  }

  .service-lines__top {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .service-lines__increment {
    left: -15px !important;
  }

  .service-lines__name:before {
    left: 50%;
    margin-left: -47px;
  }
}

@media (max-width: 960px) {
  .app-footer .logo {
    display: block;
  }

  .app-footer .main-nav {
    display: block;
  }

  .app-footer .contacts {
    display: block;
  }

  .app-header__section {
    padding-top: 50px;
  }

  .contacts {
    display: none;
  }

  .logo {
    display: none;
  }

  .main-nav {
    display: none;
  }

  .mob-panel {
    display: block;
  }
}

@media (max-width: 959px) {
  .advantages__item:before {
    display: none;
  }

  .advantages__item {
    width: 40%;
  }

  .placement {
    padding-bottom: 0;
  }

  .placement__body {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .placement__contacts {
    width: 100%;
    max-width: 100%;
  }

  .placement__map {
    height: 350px !important;
  }
}

@media (max-width: 768px) {
  .main-screen-info__title {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .additional-info {
    padding: 20px 0;
  }

  .additional-info__title {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 30px;
  }

  .additional-info__call-title {
    font-size: 20px;
  }

  .additional-info__phone {
    font-size: 20px;
  }

  .advantages__item {
    margin-left: 25px;
  }

  .gallery {
    padding: 20px 0;
  }

  .gallery__title {
    font-size: 30px;
    margin-bottom: 35px;
  }

  .main-nav__nav ul {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .main-nav__nav ul li {
    margin-right: 0;
  }

  .main-screen-info__title {
    font-size: 30px;
  }

  .main-screen-info__sub-title {
    font-size: 22px;
  }

  .mortgage {
    padding: 40px 0;
  }

  .mortgage__title {
    font-size: 26px;
    margin-bottom: 40px;
  }

  .mortgage__call-title {
    font-size: 20px;
  }

  .mortgage__phone {
    font-size: 20px;
  }

  .mortgage__express-contacts-title {
    font-size: 20px;
  }

  .parcel {
    padding-top: 20px;
  }

  .parcel__title {
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 25px;
  }

  .parcel__table {
    margin-bottom: 40px;
  }

  .placement {
    padding-top: 20px;
  }

  .placement__title {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .placement__phones {
    margin-bottom: 40px;
  }

  .placement__title-contacs {
    font-size: 24px;
  }

  .placement__phone {
    font-size: 18px;
  }

  .placement__email a {
    font-size: 18px;
  }

  .placement__addres {
    font-size: 18px;
  }

  .sale-info__item {
    overflow: visible;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .sale-info__img img {
    max-width: 100%;
  }

  .service-lines__section {
    padding: 20px 0;
  }

  .service-lines__title {
    font-size: 30px;
  }

  .service-lines__sub-title {
    font-size: 26px;
  }

  .service-lines__text {
    font-size: 16px;
    margin-bottom: 70px;
  }
}

@media (max-width: 640px) {
  ::-webkit-input-placeholder {
    font-size: 16px;
  }

  :-moz-placeholder {
    font-size: 16px;
  }

  ::-moz-placeholder {
    font-size: 16px;
  }

  :-ms-input-placeholder {
    font-size: 16px;
  }

  .advantages__section {
    padding-top: 20px;
  }

  .advantages__title {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .advantages__items {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .advantages__item {
    width: 100%;
    margin-bottom: 50px;
    padding-left: 0;
    margin-left: 0;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
  }

  .advantages__increment {
    font-size: 100px;
  }

  .form-popup__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .form-popup__desc {
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .form-popup__items {
    width: 250px;
  }

  .form-popup__item input {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .form-popup__btn-send {
    margin-top: 50px;
  }

  .form-popup.remodal {
    padding: 20px;
  }

  .placement__contacts {
    padding-left: 25px;
  }

  .sale-info__body {
    padding-left: 25px;
  }

  .video-info__title {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 20px;
  }
}

@media (max-width: 520px) {
  .additional-info__phones {
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .additional-info__phone {
    margin-right: 0;
  }

  .mortgage__phones {
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .mortgage__phone {
    margin-right: 0;
  }

  .parcel__table {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .contacts__items {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .contacts__phone {
    margin-right: 0;
  }

  .main-screen-info__desc {
    line-height: 1.3;
  }

  .mob-panel__menu {
    width: 100%;
    right: -480px;
  }

  .parcel__table td {
    padding: 15px;
  }

  .parcel__map-area {
    overflow: visible;
  }

  .parcel__map-area-info-img {
    position: static;
  }

  .parcel__map-area-info-img img {
    width: 100%;
  }

  .parcel__map-area-img {
    overflow: visible;
  }

  .parcel__map-area-img img {
    width: 100%;
  }

  .service-lines__increment {
    font-size: 100px;
  }
}

@media (max-width: 479px) {
  .mob-panel__phones .svg-icon--phone {
    width: 24px;
    height: 24px;
  }

  .mob-panel__phone {
    width: 100%;
    background-color: #000;
    position: absolute;
    text-align: center;
    top: 71px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    padding: 25px 20px;
    transition: opacity 0.3s;
  }

  .mob-panel__phone.open-phone {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 375px) {
  .advantages__name {
    font-size: 16px;
  }

  .parcel__table td {
    padding: 5px;
  }

  .service-lines__name {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .mortgage__title {
    font-size: 22px;
  }
}