<div block="additional-info">
    <div elem="section">
        <div elem="title">Конечная стоимость зависит от размера участка.</div>
        <div elem="call-as">
            <div elem="call-title">ЗВОНИТЕ НАМ чтобы обсудить подробности.</div>
            <div elem="phones">
                <a elem="phone" href="tel:+79169505755"><icon name="phone-mortgage-icon " tag="i">+7 (916) 950 5755</a>
                <a elem="phone" href="tel:+79253701730"><icon name="phone-mortgage-icon " tag="i">+7 (925) 370 1730</a>
            </div><!-- e:phones -->
        </div><!-- e:call-as -->
    </div><!-- e:section -->    
</div><!-- b:additional-info -->