<footer block="app-footer">
    <div elem="section" class="site-width">
        {% include "top-line-footer.html" %}

        
    </div><!-- e:section -->
    <div elem="copyrigth">
        <div elem="copyrigth-text">Все права защищены  «Riga Nova» &copy; 2018 г.</div>
    </div><!-- e:copy -->
</footer><!-- b:app-footer -->
