.app-footer
    flex none
    background-color #000

    &__section
        padding 53px 0

    &__copyrigth
        font-size 14px
        color #fff
        font-family : $fonts.addition
        font-weight 400
        text-align center
        letter-spacing 2px
        padding-top 12px
        padding-bottom 15px
        background-color #242424

    .logo
        @media (max-width 960px)    
            display block    
    
    .main-nav
        @media (max-width 960px)    
            display block          

    .contacts
        @media (max-width 960px)    
            display block