<div block="contacts">
    <div elem="items">
        <div elem="item" mods="phone">
            <icon name="phone" tag="i">
            <a elem="phone" href="tel:+79169505755">+7 (916) 950-57-55</a>
        </div><!-- e:item -->
        <div elem="item">
            <icon name="req-call" tag="i"> 
            <a elem="req-call" href="" data-remodal-target="modal">Заказать звонок</a>
        </div><!-- e:item -->
    </div><!-- e:items -->
</div><!-- b:contacts -->