.contacts
    margin-left auto

    @media (max-width 1270px)
        margin-left 0

    @media (max-width 960px)
        display none    

    &__items
        display flex
        align-items center

        @media (max-width 1440px)
            flex-direction column

        @media (max-width 1270px)
            flex-wrap wrap
            flex-direction row    
            justify-content center
            align-items stretch

        @media (max-width 480px)
            flex-direction column    

    &__item
        display flex
        align-items end

        .svg-icon--phone
            width 15px
            height 17px
            margin-right 20px

        .svg-icon--req-call
            width 18px
            height 20px
            fill #f6ff00
            margin-right 20px
            margin-top -2px

    &__phone
        font-size 20px
        font-family : $fonts.addition
        color #fff
        font-weight 400
        line-height 1
        text-decoration none
        margin-right 50px    

        @media (max-width 1440px)
            margin-right 0
            margin-bottom 20px

        @media (max-width 1270px)
            margin-right 50px    

        @media (max-width 480px)
            margin-right 0    

    &__req-call
        font-size 20px
        font-family : $fonts.addition
        color #f6ff00
        font-weight 400
        line-height 1
        text-decoration none
        display block
        border-bottom 2px solid #f6ff00
        padding-bottom 1px
        position relative
        &:after
            content ''
            position absolute
            top 6px
            right -15px
            background url('../img/arr-req-call.png') 0 0 no-repeat
            width 7px
            height 12px