.placement
    background url('../img/service-lines-bg.jpg') 50% 0 repeat-y
    background-size 100%
    padding-top 85px
    padding-bottom 100px

    @media (max-width 959px)
        padding-bottom 0

    @media (max-width 767px)
        padding-top 20px

    &__title
        font-size 50px
        color #000
        font-weight 400
        text-transform uppercase
        text-align center
        margin-bottom 102px

        @media (max-width 767px)
            font-size 30px
            margin-bottom 25px

    &__body
        display flex

        @media (max-width 959px)
            flex-direction column

    &__contacts
        color #fff
        font-family : $fonts.addition
        background #191919 url('../img/lines-bg.png') 0 50% repeat
        padding 45px 50px 50px 160px
        width 800px
        max-width 100%
        display flex
        flex-direction column
        justify-content center

        @media (max-width 1440px)
            background-position -70px 50%
            padding-left 90px

        @media (max-width 959px)    
            width 100%
            max-width 100%

        @media (max-width 640px)
            padding-left 25px        

    &__map
        @media (max-width 959px)
            height 350px !important
        

    &__phones
        margin-bottom 80px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left -25px
            width 5px
            height 100%
            border-radius 2px
            background-color #f6ff00

        @media (max-width 767px)
            margin-bottom 40px    

    &__title-contacs
        font-size 35px         
        font-weight 400    

        @media (max-width 767px)
            font-size 24px

    &__phone
        font-size 25px
        color #fff
        font-weight 400
        line-height 1
        text-decoration none
        display flex
        align-items center
        margin-bottom 10px 

        @media (max-width 767px)
            font-size 18px  
        
        .svg-icon--phone
            margin-right 22px
            width 16px
            height 18px

    &__email
        margin-bottom 35px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left -25px
            width 5px
            height 100%
            border-radius 2px
            background-color #f6ff00
        a
            font-size 25px
            color #fff
            font-weight 400
            line-height 1
            text-decoration none
            display flex
            align-items center

            @media (max-width 767px)
                font-size 18px

            .svg-icon--mail
                margin-right 22px      

    &__addres
        font-size 25px
        line-height 1.7         
        padding-left 38px  
        margin-bottom 35px
        position relative
        &:before
            content ''
            position absolute
            top 7px
            left -25px
            width 5px
            height 28px
            border-radius 2px
            background-color #f6ff00

        &:after
            content ''
            position absolute
            top 7px
            left 0px
            width 18px
            height 25px
            background url('../img/address.png') 0 0 no-repeat
        p
            margin-bottom 0

        @media (max-width 767px)
            font-size 18px    

    &__btn
        width 285px