<div block="placement" id="placement_block">
    <div elem="section">
        <div elem="title">РАСПОЛОЖЕНИЕ</div><!-- e:title -->

        <div elem="body">

            <div elem="contacts">
                <div elem="phones">
                    <div elem="title-contacs">Контакты</div>
                    <a elem="phone" href="tel:+79169505755"><icon name="phone" tag="i">+7 (925) 370 1730</a>
                    <a elem="phone" href="tel:+79253701730"><icon name="phone" tag="i">+7 (925) 370 1730</a>
                </div><!-- e:phones -->

                <div elem="email">
                    <a href="mailto:alex.prom.land@gmail.com"><icon name="mail" tag="i">alex.prom.land@gmail.com</a>
                </div><!-- e:email -->

                <div elem="addres">
                    <p>
                        Вплотную к Новорижскому шоссе 
                        напротивгоночной трассы 
                        Moscow Raceway между лесополосой 
                        и трассой напротив заправки Газпром
                    </p><!-- e:text -->
                </div><!-- e:addres -->

                <a elem="btn" class="site-btn" data-remodal-target="modal" href="#">Заказать звонок</a>
            </div><!-- e:contacts -->

            <div elem="map" id="map" style="width:100%; height:600px"></div><!-- e:map -->
        </div><!-- e:body -->
    </div><!-- e:section -->
</div><!-- b:placement  -->