.gallery
    padding-top 70px
    background url('../img/service-lines-bg.jpg') 50% 0 repeat-y
    background-size 100%

    @media (max-width 767px)
        padding 20px 0

    &__title
        font-size 50px
        color #000
        font-weight 400
        text-align center
        margin-bottom 70px

        @media (max-width 767px)
            font-size 30px
            margin-bottom 35px

    &__items
        position relative

        .owl-stage-outer
            padding-top 25px
            padding-bottom 30px

            @media (min-width 1901px)
                padding-left 6px

            @media (max-width 1366px)   
                padding-left 2px 

        .owl-stage
            display flex
            justify-content center

        .owl-nav
            display flex

        .owl-prev,
        .owl-next
            width 49px
            height 49px
            border-radius 50%
            border 5px solid #f7f5ab
            position absolute
            top 50%
            margin-top -20px
            background #fce101 url('../img/btn-arrow.png') 50% 50% no-repeat

        .owl-prev
            left -70px

            @media (max-width 1600px)
                left 0

        .owl-next
            right -70px
            transform rotate(180deg) 

            @media (max-width 1600px)
                right 0
            

    &__img
        width 525px
        max-width 100%     
        box-shadow 3.346px 3.716px 40px 0px rgba(0, 0, 0, 0.11)   
