<div block="gallery" id="gallery_block">
    <div elem="section" class="site-width">
        <div elem="title">Галерея</div><!-- e:title -->
    <div elem="items" class="owl-carousel">
        {% for item in galleryItem %}
            <a elem="item" data-lightbox="image-1" href="img/{{item.img}}">
                <div elem="img"><img src="img/{{item.img}}" alt=""></div><!-- e:img -->
            </a><!-- e:item -->
        {% endfor %}
    </div><!-- e:items -->
    </div><!-- e:section -->

    <div elem="video" {# class="full-page" #}>
        {% include "video-info.html" %}
    
    </div><!-- e: -->
    
</div><!-- b:gallery  -->  