.parcel
    background url('../img/service-lines-bg.jpg') 50% 0 repeat-y
    background-size 100%
    padding-top 95px

    @media (max-width 767px)
        padding-top 20px

    &__title
        font-size 40px
        color #000
        font-weight 900
        text-align center
        margin-bottom 90px

        &--limits-area
            margin-bottom 50px

        @media (max-width 767px)
            font-size 30px
            line-height 1.3
            margin-bottom 25px

    &__table
        font-size 20px
        color #000
        font-family : $fonts.optionally
        font-weight 400
        line-height 1.3
        border 1px solid #000
        border-radius 10px  
        margin-bottom 100px
        display block
        overflow hidden

        @media (max-width 767px)
            margin-bottom 40px

        @media (max-width 520px)
            font-size 14px    

        tbody
            display block
            margin -1px    

        tr
            &:nth-child(odd)
                background-color rgba(246, 255, 0, 0.6)
          
        td
            padding 15px 30px 15px 20px
            border 1px solid #000
            width 50%

            @media (max-width 480px)
                padding 15px

            @media (max-width 375px)
                padding 5px    

            &.table-name
                font-weight 600

    &__link-to-map
        font-size 16px !important
        min-width auto
        width 350px
        max-width 100%
        padding 15px 10px
        margin 0 auto 30px
        line-height 1.3

    &__map-area
        position relative
        display block
        overflow hidden

        @media (max-width 480px)
            overflow visible

    &__map-area-info-img
        width 410px
        max-width 100%
        position absolute
        top 50px
        left 0
        z-index 2

        @media (max-width 480px)
            position static

            img 
                width 100%

    &__map-area-img
        position relative

        @media (max-width 480px)
            overflow visible

            img 
                width 100%