<div block="parcel" id="parcel_block">
    <div elem="section" class="site-width">
        <div elem="title">Характеристики участка</div><!-- e:title -->
        <table elem="table">
            <tbody>
                <tr>
                    <td class="table-name">Кадастровый номер:</td>
                    <td>50:19:0030304:761</td>
                </tr>
                <tr>
                    <td class="table-name">Адрес:</td>
                    <td>Московская область, р-н Рузский, сп.Волковское, вблизи д.Городище</td>
                </tr>
                <tr>
                    <td class="table-name">Площадь:</td>
                    <td>300000 +/- 383кв.м</td>
                </tr>
                <tr>
                    <td class="table-name">Категория земель:</td>
                    <td>Земли промышленности, энергетики, транспорта, связи, радиовещания, 
телевидения, информатики, земли для обеспечения космической деятельности, 
земли обороны, безопасности и земли иного специального назначения</td>
                </tr>
                <tr>
                    <td class="table-name">Виды разрешенного использования:</td>
                    <td>Под строительство многофункциональных производственных зданий,
складов и других объектов коммерческого назначения, 
и многофункциональный автокомплекс</td>
                </tr>
                <tr>
                    <td class="table-name">Вид права:</td>
                    <td>Собственность</td>
                </tr>
                <tr>
                    <td class="table-name">Ограничение прав и обременение:</td>
                    <td>Нет</td>
                </tr>
                <tr>
                    <td class="table-name">Состояние участка:</td>
                    <td>Строений и зданий на участке нет</td>
                </tr>
            </tbody>
        
        </table><!-- e:table -->
    </div><!-- e:section -->

    <div elem="limits-area-map" class="full-page">
        <div elem="title" mods="limits-area">ГРАНИЦЫ УЧАСТКА:<br>
            Информация с официального сайта Росреестра
        </div><!-- e:title -->

        <a elem="link-to-map" class="site-btn" href="https://pkk5.rosreestr.ru/#x=4037406.2457626425&y=7556057.881248031&z=16&text=50%3A19%3A0030304%3A761&type=1&app=search&opened=1" target="_blank">Посмотреть на официальном сайте Росреестра</a>
        
        <a elem="map-area" href="https://pkk5.rosreestr.ru/#x=4037406.2457626425&y=7556057.881248031&z=16&text=50%3A19%3A0030304%3A761&type=1&app=search&opened=1" target="_blank">
            <span elem="map-area-info-img"><img src="img/map-area-info.png" alt=""></span>
            <span elem="map-area-img"><img src="img/map-area.png" alt=""></span>
        </a>
    </div><!-- e:limits-area-map -->
</div><!-- b:parcel -->