<div block="form-popup" class="remodal" data-remodal-id="modal">
    {# <button data-remodal-action="close" class="remodal-close"></button> #}
    <div elem="section">
        <form elem="form" action="">
            <div elem="title">Оставьте Ваши контакты</div>
            <div elem="desc">Мы обязательно свяжемся с Вами.</div>
            <div elem="items">
                <div elem="item" mods="name">
                    <input type="text" name="" id="" placeholder="Имя" required>
                </div><!-- e:item -->
                <div elem="item" mods="phone">
                    <input type="tel" name="" id="" placeholder="Телефон" required>
                </div><!-- e:item -->
                <div elem="item" mods="email">
                    <input type="email" name="" id="" placeholder="E-mail" required>
                </div><!-- e:item -->
            </div><!-- e:items -->
            <div elem="bot">
                <button elem="btn-send" class="site-btn" type="submit">Отправить</button>
            </div><!-- e:bot -->
        </form><!-- e:form -->
    </div><!-- e:section -->
    <div elem="send-success">Спасибо! Ваше сообщение отправлено</div><!-- e:send-success -->
</div><!-- b:form-popup -->