.form-popup

    &__send-success
        font-size 24px
        color #575757
        font-weight 500
        display none
        &.success
            display block

    &__section
        &.success
            display none
    
    &__title
        font-size 35px
        color #fff
        line-height 1
        font-weight 600
        margin-bottom 15px

        @media (max-width 640px)
            font-size 20px
            margin-bottom 10px

    &__desc
        font-size 20px
        color #fff
        line-height 1
        font-weight 400
        padding-bottom 20px
        margin-bottom 65px   
        position relative
        &:after
            content ''
            position absolute
            bottom 0
            left 50%
            margin-left -50px
            width 96px
            height 2px
            background-color #f6ff00 

        @media (max-width 640px)
            font-size 16px
            padding-bottom 10px
            margin-bottom 20px       

    &__items
        width 400px
        max-width 100%
        margin 0 auto

        @media (max-width 640px)
            width 250px

    &__item
        width 400px
        max-width 100%

        input
            font-size 20px
            color #fff
            font-family 'Rubik', sans-serif
            font-weight 400
            text-align center  
            width 100%
            border none
            border-bottom 1px solid #fff
            background-color transparent 
            padding-top 15px     
            padding-bottom 20px     
            margin-bottom 10px

            @media (max-width 640px)
                font-size 16px
                padding-top 10px
                padding-bottom 15px
    
    &__btn-send
        margin 90px auto 0    

        @media (max-width 640px)
            margin-top 50px

    &.remodal
        max-width 640px   
        padding 90px 90px 110px 90px
        background-color #080808     
        border-radius 8px

        @media (max-width 640px)
            padding 20px

.remodal-overlay
    background rgba(43, 46, 56, 0.2)