.fixed-panel
    width 100%
    display none
    position fixed
    top -100px
    left 0
    z-index 100
    padding 10px 15px
    border-bottom 1px solid rgba(255, 255, 255, 0.5)
    background-color rgba(0, 0, 0, 0.8)
    box-shadow 0px 5px 20px 0px rgba(0,0,0,0.3)
    transition top .3s
    &.fixed
        top 0

    .main-nav
        @media (max-width: 1270px)
            margin-bottom 0 

    @media (min-width 961px)
        display block

    &__section
        display flex
        justify-content space-between
        align-items center

        .contacts
            @media (max-width 1270px)
                display none