<div block="fixed-panel">
    <div elem="body" class="site-width">
        <div elem="section">
            {% include "logo.html" %}

            {% include "main-nav.html" %}

            {% include "contacts.html" %}
        </div><!-- e:section -->
    </div><!-- e:qeqe -->
</div><!-- b:fixed-panel -->