.logo
    margin-right 90px
    flex 0 0 191px

    @media (max-width 1270px)
        flex none
        margin-right 0
        margin-bottom 20px

    @media (max-width 960px)
        display none    

    a 
        img 
            max-width 100%